! sudo pacman -S xclip
! config xclip on xterm
! XTerm*selectToClipboard: true
! XTerm*useClipboard: true
! xrdb ~/.Xresources

x! Global 
#define fg #cccccc
#define bg #010101

! Xterm
xterm*background: bg
xterm*foreground: fg
xterm*font: xft:Ubuntu Mono:size=16
